$maincolor: rgb(220, 220, 236);
$fontcolor: rgb(53, 52, 52);
$secondoption: #FFEDED;
$mainfont: 'Montserrat';

body {
    margin: 0;
    padding: 0;
    min-height: 100%;
    background-color: $secondoption;
    color: $fontcolor;
    font-family: 'Montserrat';
}

html {
    margin: 0;
    padding: 0;
    scroll-behavior: smooth;
}

#___gatsby {
    margin: 0;
    padding: 0;
}


.navwrapper {
    background-color: $secondoption;
    padding: 20px;
    display: flex;
    justify-content: space-between;
    align-items: center;
    position: relative;
    padding-top: 2rem;
    padding-bottom: 2rem;
    z-index: 3;

    h1 {
        margin: 0;
    }

    .logo {
        a {
            text-decoration: none;
            color: $secondoption;
            font-weight: 900;
            padding: 7px 6px;
            border-radius: 50%;
            letter-spacing: 1px;
            background-color: $fontcolor;

        }


    }

    section.navlist {
        display: none;
    }

    section.activenavlist {
        display: flex;
        justify-content: center;
        align-items: center;
        flex-direction: column;
        position: fixed;
        left: 0;
        top: 0;
        bottom: 0;
        width: 100%;
        height: 100dvh;
        background-color: $maincolor;


        a {
            padding: 20px;
            color: $fontcolor;
            font-size: 20px;
            font-weight: bold;
            text-decoration: none;

        }
    }

    .togglebutton {
        z-index: 2;

        .closeicon {
            position: fixed;
            right: 20px;
        }
    }

    ul {
        list-style: none;
        height: 100dvh;
        width: 80%;
        background-color: $maincolor;
    }
}

@media only screen and (min-width: 991px) {
    .navwrapper {
        section.navlist {
            display: flex;

            a {
                font-size: 18px;
                text-decoration: none;
                padding: 10px;
                color: $fontcolor;
                font-weight: bold;
            }

        }

        .togglebutton {
            display: none;
        }
    }


}